@media(max-width:1100px) {

    .wecare {
        h1 {
            font-size: 3.6em;
        }

        p {
            font-size: 1.4em;
        }
    }

    .dog-img {

        background-size: 70%;
        background-position: center bottom;
    }
}