@media (max-width:800px) {
    .border {
        flex-direction: column;
        justify-content: center;
        align-items: center;




        .wecare {
            width: 100%;
            height: 40%;
            margin-top: 60px;

            h1 {
                font-size: 3em;
                text-align: center;
            }

            p {
                font-size: 1.2em;
                text-align: center;
            }
        }

        .dog-img {
            height: 700px;
            width: 500px;


            .blackky-dog {
                width: 95%;
                height: 70%;
                background-size: 100%;
                background-position: top;
            }
        }
    }
}