%df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin display-flex($font-color: black, $justify-content: space-evenly, $font-weight: 600) {
    color: $font-color;
    font-weight: $font-weight;
    @extend %df;
    justify-content: $justify-content ;
}

@mixin font-size($font-color: $color, $font-weight: 600, $font-size: 1em, $text-align: center) {
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
    text-align: $text-align;
}