.nav-bar {
    @extend %df;
    width: 100vw;
    position: fixed;
    justify-content: space-around;
    font-size: 30px;
    background-color: #F8F9FA;
    border-bottom: 2px solid black;
    box-shadow: 2px 1px 5px 2px black;

    .dogger {
        font-size: 35px;
        font-weight: 600;

        span {
            color: $colorr;
        }
    }

    .home {
        font-size: 20px;
        display: flex;
        margin: 20px 0;
        justify-content: space-evenly;
        align-items: center;



        .hh {
            margin: 15px 25px;

            &:hover {
                color: $colorr ;
            }
        }

        #on {
            display: none;
        }

        #on:checked+.about>.trade {
            display: block;
        }

        .about {


            .trade {

                position: absolute;
                top: 70px;
                width: 200px;

                display: none;

                &:hover {
                    color: black;
                }

                ul {
                    margin: 0;

                    font-size: 30px;
                    line-height: 40px;
                    font-weight: 550;
                    list-style: none;
                    background-color: rgba(243, 235, 235, 0.954);
                    height: 300px;
                    border-top: 2px solid grey;
                    box-shadow: 2px 1px 5px 2px black;

                    li {
                        text-align: center;
                        cursor: pointer;
                    }

                    li:hover {
                        background-color: rgb(210, 185, 185);
                        color: black;
                    }


                }
            }
        }


    }

    @media(max-width:1000px) {
        .home {
            display: none;
        }
    }

    .menu {
        margin-right: 50px;
        display: none;
        margin: 20px;
    }

    @media(max-width:1000px) {
        .menu {
            display: block;
        }
    }
}