.jesi .pictures .pics:nth-child(3), .jesi .pictures .pics:nth-child(2), .jesi .pictures .pics:nth-child(1), .about-us .aboutt .uss, .about-us, .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jesi .pictures .pics:nth-child(3) .img:hover, .jesi .pictures .pics:nth-child(2) .img:hover, .jesi .pictures .pics:nth-child(1) .img:hover {
  box-shadow: 4px 4px 4px 4px black, 6px 6px 4px 4px black;
}

.nav-bar {
  width: 100vw;
  position: fixed;
  justify-content: space-around;
  font-size: 30px;
  background-color: #F8F9FA;
  border-bottom: 2px solid black;
  box-shadow: 2px 1px 5px 2px black;
}
.nav-bar .dogger {
  font-size: 35px;
  font-weight: 600;
}
.nav-bar .dogger span {
  color: #799290;
}
.nav-bar .home {
  font-size: 20px;
  display: flex;
  margin: 20px 0;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar .home .hh {
  margin: 15px 25px;
}
.nav-bar .home .hh:hover {
  color: #799290;
}
.nav-bar .home #on {
  display: none;
}
.nav-bar .home #on:checked + .about > .trade {
  display: block;
}
.nav-bar .home .about .trade {
  position: absolute;
  top: 70px;
  width: 200px;
  display: none;
}
.nav-bar .home .about .trade:hover {
  color: black;
}
.nav-bar .home .about .trade ul {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 550;
  list-style: none;
  background-color: rgba(243, 235, 235, 0.954);
  height: 300px;
  border-top: 2px solid grey;
  box-shadow: 2px 1px 5px 2px black;
}
.nav-bar .home .about .trade ul li {
  text-align: center;
  cursor: pointer;
}
.nav-bar .home .about .trade ul li:hover {
  background-color: rgb(210, 185, 185);
  color: black;
}
@media (max-width: 1000px) {
  .nav-bar .home {
    display: none;
  }
}
.nav-bar #menu {
  margin-right: 50px;
  display: none;
  margin: 40px;
}
@media (max-width: 1000px) {
  .nav-bar #menu {
    display: block;
  }
  .nav-bar #menu #openn {
    display: block;
  }
}

#navigation {
  width: 300px;
  height: 100vh;
  top: 0px;
  position: fixed;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(300px);
}
#navigation #navclose {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-start;
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
#navigation #navclose:hover {
  background-color: rgb(228, 204, 204);
}
#navigation #navcontent {
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#navigation #navcontent p {
  margin: 20px 0;
  padding: 10px 80px;
  padding-left: 0px;
  text-align: center;
}
#navigation #navcontent p:hover {
  background-color: rgb(228, 204, 204);
}
#navigation #navcontent p:nth-child(2) {
  display: flex;
}

.border {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  background-color: #F8F9FA;
}
.border .wecare {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
.border .wecare h1 {
  font-size: 3.5em;
  font-weight: 700;
}
.border .wecare p {
  font-size: 1.6em;
  color: #799290;
}
.border .dog-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 700px;
  width: 600px;
}
.border .dog-img .blackky-dog {
  width: 90%;
  height: 100%;
  background-image: url("./src/dogger_img_1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (max-width: 400px) {
  .border .dog-img {
    background-size: 90%;
    background-position: center bottom;
  }
}
@media (max-width: 1100px) {
  .border .wecare h1 {
    font-size: 4em;
  }
  .border .wecare p {
    font-size: 2em;
  }
  .border .dog-img {
    background-size: 80%;
    background-position: center bottom;
  }
}

@media (max-width: 1000px) {
  .border {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .border .wecare {
    width: 100%;
    margin-top: 30px;
  }
  .border .wecare h1 {
    font-size: 5em;
    text-align: center;
  }
  .border .wecare p {
    font-size: 2em;
    text-align: center;
  }
  .border .dog-img {
    height: 700px;
    width: 500px;
  }
  .border .dog-img .blackky-dog {
    width: 95%;
    height: 100%;
    background-size: 100%;
    background-position: top;
  }
}
@media (max-width: 600px) {
  .border {
    align-items: flex-start;
  }
  .border .wecare h1 {
    font-size: 4em;
    text-align: center;
  }
  .border .wecare p {
    font-size: 1.5em;
    text-align: center;
  }
  .border .dog-img {
    height: 850px;
    width: 500px;
  }
}
.love {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.love .love-border {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.love .love-border .love-care {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
}
.love .love-border .love-care .care {
  font-size: 2.5em;
  font-weight: 600;
  text-align: justify;
  margin: 10px;
}
.love .love-border .love-care .Far-far {
  color: #799290;
  font-size: 1.4em;
  text-align: right;
  margin: 10px;
}
.love .love-border .love-care .readme {
  padding: 10px 20px;
  background-color: #799290;
  border-radius: 30px;
  margin: 10px;
  color: white;
  transition: 1s;
}
.love .love-border .love-care .readme:hover {
  background-color: black;
  color: white;
}
.love .love-border .ll {
  width: 47.5%;
  height: 50%;
  padding: 10px;
}
.love .love-border .nurse-doctor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 45%;
}
.love .love-border .nurse-doctor .nurse-img {
  width: 100%;
  height: 100%;
  background-image: url("./src/dogger_img_sm_3.jpg.webp");
  background-size: 100%;
  transition: 1s;
  background-repeat: no-repeat;
  padding: 10px;
}
.love .love-border .nurse-doctor .nurse-img:hover {
  box-shadow: 10px 10px 2px 2px #799290;
}
.love .love-border .fearsome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
.love .love-border .fearsome .care {
  font-size: 2.5em;
  font-weight: 600;
  text-align: left;
  margin: 10px;
}
.love .love-border .fearsome .Far-far {
  color: #799290;
  font-size: 1.4em;
  text-align: left;
  margin: 10px;
}
.love .love-border .fearsome .readme {
  padding: 10px 20px;
  background-color: #799290;
  border-radius: 30px;
  margin: 10px;
  color: white;
  transition: 1s;
}
.love .love-border .fearsome .readme:hover {
  background-color: black;
  color: white;
}
.love .love-border .fearsome-dog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 45%;
}
.love .love-border .fearsome-dog .fear-dog-img {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-image: url("./src/dogger_img_sm_1.jpg.webp");
  background-size: 100%;
  transition: 1s;
  background-repeat: no-repeat;
}
.love .love-border .fearsome-dog .fear-dog-img:hover {
  box-shadow: 10px 10px 2px 2px #799290;
}
.love .love-border .beautiful-dog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 45%;
}
.love .love-border .beautiful-dog .beautiful-dog-img {
  width: 100%;
  height: 100%;
  background-image: url("./src/dogger_img_sm_2.jpg.webp");
  background-size: 100%;
  transition: 1s;
  background-position: center;
  background-repeat: no-repeat;
}
.love .love-border .beautiful-dog .beautiful-dog-img:hover {
  box-shadow: 10px 10px 2px 2px #799290;
}
.love .love-border .beautiful {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
.love .love-border .beautiful .care {
  font-size: 2.5em;
  font-weight: 600;
  text-align: justify;
  margin: 10px;
}
.love .love-border .beautiful .Far-far {
  color: #799290;
  font-size: 1.4em;
  text-align: right;
  margin: 10px;
}
.love .love-border .beautiful .readme {
  padding: 10px 10px;
  background-color: #799290;
  border-radius: 30px;
  margin: 10px;
  color: white;
  transition: 1s;
}
.love .love-border .beautiful .readme:hover {
  background-color: black;
  color: white;
}
@media (max-width: 1020px) {
  .love .love-border {
    flex-direction: column;
    flex-wrap: wrap;
    width: 85%;
  }
  .love .love-border .ll {
    width: 100%;
  }
  .love .love-border .ll:nth-child(1) {
    order: 2;
    background-size: contain;
  }
  .love .love-border .ll:nth-child(2) {
    order: 1;
    height: 500px;
  }
  .love .love-border .ll:nth-child(3) {
    order: 3;
  }
  .love .love-border .ll:nth-child(4) {
    order: 4;
  }
  .love .love-border .ll:nth-child(5) {
    order: 6;
  }
  .love .love-border .ll:nth-child(6) {
    order: 5;
    background-size: cover;
    height: 500px;
  }
}

.about-us {
  width: 100vw;
  justify-content: space-evenly;
  padding: 20px;
}
.about-us .aboutt {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.about-us .aboutt .uss {
  width: 85%;
  height: 85%;
  color: black;
  font-weight: 600;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}
.about-us .aboutt .uss span {
  font-size: 2.3em;
}
.about-us .aboutt .uss .pow {
  color: #799290;
}
.about-us .aboutt .uss .aboutt-us {
  font-size: 2.8em;
  margin: 10px;
  font-weight: 650;
}
.about-us .aboutt .uss .separate {
  font-size: 1.8em;
  font-weight: 300;
  margin: 10px;
  color: #799290;
}
.about-us .aboutt .uss .small {
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px;
  color: #799290;
}
.about-us .aboutt .uss .small-river ul {
  list-style: none;
}
.about-us .aboutt .uss .small-river ul li {
  margin: 10px;
  font-size: 1.4em;
  font-weight: 400;
  color: #799290;
}
@media (max-width: 1080px) {
  .about-us .aboutt .uss {
    font-size: 12px;
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 660px) {
  .about-us .aboutt .uss {
    font-size: 8px;
    width: 95%;
    height: 95%;
  }
}
.about-us .dog-vide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 600px;
  width: 600px;
}
.about-us .dog-vide .dogg-video {
  width: 90%;
  height: 100%;
  background-image: url("./src/dogger_img_big_1.jpg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center bottom;
}
@media (max-width: 1150px) {
  .about-us .dog-vide .dogg-video {
    height: 85%;
  }
}

@media (max-width: 950px) {
  .about-us {
    flex-direction: column;
  }
  .about-us .aboutt {
    width: 100%;
    height: 50%;
  }
  .about-us .aboutt .uss {
    font-size: 18px;
  }
  .about-us .dog-vide {
    height: 800px;
    align-self: stretch;
  }
  .about-us .dog-vide .dog-video {
    height: 100%;
    width: 100%;
  }
}
.jesi {
  width: 100vw;
  background-color: #A2C0BE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.jesi .pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
.jesi .pictures .pics {
  width: 350px;
  height: 803px;
  margin: 10px;
}
@media (max-width: 840px) {
  .jesi .pictures .pics {
    width: 500px;
  }
  .jesi .pictures .pics .img {
    background-size: 100%;
    background-position: center;
  }
}
.jesi .pictures .pics:nth-child(1) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.jesi .pictures .pics:nth-child(1) .img {
  width: 100%;
  height: 58%;
  background-image: url("./src/dogger_trainer_1.jpg.webp");
  background-size: 100%;
  transition: 1.5s;
  background-repeat: no-repeat;
}
.jesi .pictures .pics:nth-child(1) .jesica {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.jesi .pictures .pics:nth-child(1) .jesica p {
  margin: 25px;
}
.jesi .pictures .pics:nth-child(1) .jesica p:first-child {
  font-size: 2em;
}
.jesi .pictures .pics:nth-child(1) .jesica p:nth-child(3) {
  position: relative;
}
.jesi .pictures .pics:nth-child(1) .jesica p:nth-child(3) span {
  margin: 10px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  transition: 1s;
}
.jesi .pictures .pics:nth-child(1) .jesica p:nth-child(3) span:hover {
  transform: translateY(-20px);
}
.jesi .pictures .pics:nth-child(1) .jesica p:nth-child(3) span:nth-child(2) {
  left: 70px;
}
.jesi .pictures .pics:nth-child(1) .jesica p:nth-child(3) span:nth-child(3) {
  left: 140px;
  padding: 8px 14px;
}
.jesi .pictures .pics:nth-child(2) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.jesi .pictures .pics:nth-child(2) .img {
  width: 100%;
  height: 58%;
  background-image: url("./src/dogger_trainer_2.jpg.webp");
  background-size: 100%;
  transition: 1.5s;
}
.jesi .pictures .pics:nth-child(2) .jesica {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.jesi .pictures .pics:nth-child(2) .jesica p {
  margin: 25px;
}
.jesi .pictures .pics:nth-child(2) .jesica p:first-child {
  font-size: 2em;
}
.jesi .pictures .pics:nth-child(2) .jesica p:nth-child(3) {
  position: relative;
}
.jesi .pictures .pics:nth-child(2) .jesica p:nth-child(3) span {
  margin: 10px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: 1s;
  bottom: -40px;
}
.jesi .pictures .pics:nth-child(2) .jesica p:nth-child(3) span:hover {
  transform: translateY(-20px);
}
.jesi .pictures .pics:nth-child(2) .jesica p:nth-child(3) span:nth-child(2) {
  left: 70px;
}
.jesi .pictures .pics:nth-child(2) .jesica p:nth-child(3) span:nth-child(3) {
  left: 140px;
  padding: 8px 14px;
}
.jesi .pictures .pics:nth-child(3) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.jesi .pictures .pics:nth-child(3) .img {
  width: 100%;
  height: 58%;
  background-image: url("./src/dogger_trainer_3.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1.5s;
}
.jesi .pictures .pics:nth-child(3) .jesica {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.jesi .pictures .pics:nth-child(3) .jesica p {
  margin: 25px;
}
.jesi .pictures .pics:nth-child(3) .jesica p:first-child {
  font-size: 2em;
}
.jesi .pictures .pics:nth-child(3) .jesica p:nth-child(3) {
  position: relative;
}
.jesi .pictures .pics:nth-child(3) .jesica p:nth-child(3) span {
  margin: 10px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: 1s;
  bottom: -40px;
}
.jesi .pictures .pics:nth-child(3) .jesica p:nth-child(3) span:hover {
  transform: translateY(-20px);
}
.jesi .pictures .pics:nth-child(3) .jesica p:nth-child(3) span:nth-child(2) {
  left: 70px;
}
.jesi .pictures .pics:nth-child(3) .jesica p:nth-child(3) span:nth-child(3) {
  left: 140px;
  padding: 8px 14px;
}
@media (max-width: 1233px) {
  .jesi .pictures {
    justify-content: flex-start;
  }
  .jesi .pictures .pics {
    width: 450px;
  }
}
@media (max-width: 1045px) {
  .jesi .pictures {
    justify-content: center;
  }
  .jesi .pictures .pics {
    width: 500px;
  }
}

.photo {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo .gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 95%;
}
.photo .gallery .photos {
  width: 24%;
  height: 270px;
  margin: 0px 5px;
  transition: 1s;
}
.photo .gallery .photos:hover {
  transform: scaleX(1.3) scaleY(1.2);
}
@media (max-width: 1050px) {
  .photo .gallery .photos {
    width: 30%;
    height: 250px;
  }
}
@media (max-width: 900px) {
  .photo .gallery .photos {
    width: 40%;
    height: 250px;
  }
}
.photo .gallery .photos:nth-child(1),
.photo .gallery .photos:nth-child(7) {
  background-image: url("./src/dogger_img_sm_1.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.photo .gallery .photos:nth-child(2),
.photo .gallery .photos:nth-child(8) {
  background-image: url("./src/dogger_img_sm_2.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.photo .gallery .photos:nth-child(3),
.photo .gallery .photos:nth-child(9) {
  background-image: url("./src/dogger_img_sm_3.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.photo .gallery .photos:nth-child(4),
.photo .gallery .photos:nth-child(10) {
  background-image: url("./src/dogger_img_sm_4.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.photo .gallery .photos:nth-child(5),
.photo .gallery .photos:nth-child(11) {
  background-image: url("./src/dogger_img_sm_5.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.photo .gallery .photos:nth-child(6),
.photo .gallery .photos:nth-child(12) {
  background-image: url("./src/dogger_img_sm_6.jpg.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1050px) {
  .photo {
    width: 100%;
  }
}

.should {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.should .box {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
}
.should .box .twoo {
  width: 500px;
  height: 640px;
}
@media (max-width: 1249px) {
  .should .box .twoo {
    width: 800px;
    height: 500px;
  }
}
.should .box .twoo:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  order: 1;
}
.should .box .twoo:first-child .four {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.should .box .twoo:first-child .four #p2,
.should .box .twoo:first-child .four #p22,
.should .box .twoo:first-child .four #p222,
.should .box .twoo:first-child .four #p2222 {
  font-size: 1.2em;
}
.should .box .twoo:first-child .four #p1 {
  margin: 10px;
  font-size: 1.4em;
}
.should .box .twoo:first-child .four #p1 #down1 {
  color: #799290;
  font-size: 0.7em;
  padding: 5px 8px;
  border: 1px solid #799290;
  border-radius: 50%;
}
.should .box .twoo:first-child .four #p2 {
  margin: 10px;
  padding-left: 30px;
  display: none;
  color: #799290;
}
.should .box .twoo:first-child .should2 #p11 {
  margin: 10px;
  font-size: 1.4em;
}
.should .box .twoo:first-child .should2 #p11 #down2 {
  color: #799290;
  font-size: 0.7em;
  padding: 5px 8px;
  border: 1px solid #799290;
  border-radius: 50%;
}
.should .box .twoo:first-child .should2 #p22 {
  margin: 10px;
  padding-left: 30px;
  display: none;
  color: #799290;
}
.should .box .twoo:first-child .should3 #p111 {
  margin: 10px;
  font-size: 1.4em;
}
.should .box .twoo:first-child .should3 #p111 #down3 {
  color: #799290;
  font-size: 0.7em;
  padding: 5px 8px;
  border: 1px solid #799290;
  border-radius: 50%;
}
.should .box .twoo:first-child .should3 #p222 {
  margin: 10px;
  padding-left: 30px;
  display: none;
  color: #799290;
}
.should .box .twoo:first-child .should4 #p1111 {
  margin: 10px;
  font-size: 1.4em;
}
.should .box .twoo:first-child .should4 #p1111 #down4 {
  color: #799290;
  font-size: 0.7em;
  padding: 5px 8px;
  border: 1px solid #799290;
  border-radius: 50%;
}
.should .box .twoo:first-child .should4 #p2222 {
  margin: 10px;
  padding-left: 30px;
  display: none;
  color: #799290;
}
@media (max-width: 1249px) {
  .should .box .twoo:first-child {
    order: 2;
  }
}
.should .box .twoo:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}
.should .box .twoo:last-child .bordee {
  width: 80%;
  height: 50%;
  background-image: url("./src/dogger_img_sm_1.jpg.webp");
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 1249px) {
  .should .box .twoo:last-child {
    width: 900px;
    height: 500px;
  }
  .should .box .twoo:last-child .bordee {
    height: 70%;
  }
}
@media (max-width: 770px) {
  .should .box .twoo:last-child .bordee {
    height: 40%;
  }
}
@media (max-width: 1249px) {
  .should .box .twoo:last-child {
    order: 1;
  }
}
@media (max-width: 1249px) {
  .should .box {
    font-size: 20px;
  }
  .should .box .four #p2,
.should .box .four #p22,
.should .box .four #p222,
.should .box .four #p2222 {
    font-size: 1.4em;
  }
}
@media (max-width: 770px) {
  .should .box {
    font-size: 13px;
  }
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome {
  width: 100vw;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .well {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10%;
  font-size: 16px;
}
.welcome .well .paw {
  font-size: 2em;
  color: #799290;
}
.welcome .well .paw .left-paw,
.welcome .well .paw .right-paw {
  font-size: 0.5em;
}
.welcome .well .welcome-to {
  font-size: 2.5em;
  text-align: center;
  font-weight: 700;
}
.welcome .well .farr {
  text-align: center;
  font-size: 1.5em;
  line-height: 40px;
  color: #799290;
  width: 100%;
  font-weight: 600;
}
@media (max-width: 900px) {
  .welcome .well {
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 10%;
  }
}
@media (max-width: 500px) {
  .welcome .well {
    font-size: 10px;
    padding: 5%;
  }
}

.ourtrainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A2C0BE;
}
.ourtrainer .ourr {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.ourtrainer .ourr .our-trainer {
  display: flex;
  font-size: 16px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.ourtrainer .ourr .our-trainer p:first-child {
  font-size: 1em;
  color: white;
}
.ourtrainer .ourr .our-trainer p:first-child span {
  font-size: 2.4em;
}
.ourtrainer .ourr .our-trainer p:nth-child(2) {
  font-size: 2.5em;
  font-weight: 600;
}
.ourtrainer .ourr .our-trainer p:last-child {
  font-size: 1.7em;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
@media (max-width: 1050px) {
  .ourtrainer .ourr .our-trainer {
    width: 90%;
    font-size: 18px;
  }
}

.pricing {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.pricing .table {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.pricing .table p {
  margin: 10px;
}
.pricing .table p:first-child {
  font-size: 1em;
  text-align: center;
  color: #799290;
}
.pricing .table p:first-child span {
  font-size: 2.4em;
}
.pricing .table p:nth-child(2) {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}
.pricing .table p:last-child {
  color: #799290;
  font-size: 1.5em;
  text-align: center;
  font-weight: 550;
}
@media (max-width: 1000px) {
  .pricing .table {
    width: 90%;
    font-size: 18px;
  }
}

.basic {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}
.basic .basicc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.basic .basicc .lef {
  width: 30%;
  height: 700px;
  margin: 20px 20px;
}
@media (max-width: 1280px) {
  .basic .basicc .lef {
    width: 45%;
  }
}
@media (max-width: 900px) {
  .basic .basicc .lef {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .basic .basicc .lef {
    width: 85%;
  }
}
.basic .basicc .left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A2C0BE;
}
.basic .basicc .left .bassi {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;
  color: white;
}
.basic .basicc .left .bassi p:first-child {
  font-size: 3em;
}
.basic .basicc .left .bassi p:nth-child(2) {
  font-size: 3em;
}
.basic .basicc .left .bassi p:nth-child(2) span {
  font-size: 0.5em;
}
.basic .basicc .left .bassi ul {
  list-style: none;
}
.basic .basicc .left .bassi ul li {
  line-height: 35px;
  font-size: 1.5em;
}
.basic .basicc .left .bassi ul li span {
  font-size: 0.6em;
}
.basic .basicc .left .bassi ul li:nth-child(3) {
  text-decoration: line-through;
}
.basic .basicc .left .bassi ul li:nth-child(4) {
  text-decoration: line-through;
}
.basic .basicc .left .bassi ul li:nth-child(5) {
  text-decoration: line-through;
}
.basic .basicc .left .bassi p:last-child {
  padding: 15px 20px;
  background-color: #184e4a;
  border-radius: 30px;
}
.basic .basicc .left .bassi p:last-child:hover {
  background-color: black;
}
@media (max-width: 920px) {
  .basic .basicc .left .bassi {
    font-size: 14px;
  }
}
.basic .basicc .center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343A40;
}
.basic .basicc .center .bassi {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;
  color: white;
}
.basic .basicc .center .bassi p:first-child {
  font-size: 3em;
}
.basic .basicc .center .bassi p:nth-child(2) {
  font-size: 3em;
}
.basic .basicc .center .bassi p:nth-child(2) span {
  font-size: 0.5em;
}
.basic .basicc .center .bassi ul {
  list-style: none;
}
.basic .basicc .center .bassi ul li {
  line-height: 35px;
  font-size: 1.5em;
}
.basic .basicc .center .bassi ul li span {
  font-size: 0.6em;
}
.basic .basicc .center .bassi ul li:nth-child(3) {
  text-decoration: line-through;
}
.basic .basicc .center .bassi ul li:nth-child(4) {
  text-decoration: line-through;
}
.basic .basicc .center .bassi ul li:nth-child(5) {
  text-decoration: line-through;
}
.basic .basicc .center .bassi p:last-child {
  padding: 15px 20px;
  background-color: #A2C0BE;
  border-radius: 30px;
}
.basic .basicc .center .bassi p:last-child:hover {
  background-color: black;
}
@media (max-width: 920px) {
  .basic .basicc .center .bassi {
    font-size: 14px;
  }
}
.basic .basicc .right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A2C0BE;
}
.basic .basicc .right .bassi {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;
  color: white;
}
.basic .basicc .right .bassi p:first-child {
  font-size: 3em;
}
.basic .basicc .right .bassi p:nth-child(2) {
  font-size: 3em;
}
.basic .basicc .right .bassi p:nth-child(2) span {
  font-size: 0.5em;
}
.basic .basicc .right .bassi ul {
  list-style: none;
}
.basic .basicc .right .bassi ul li {
  line-height: 35px;
  font-size: 1.5em;
}
.basic .basicc .right .bassi ul li span {
  font-size: 0.6em;
}
.basic .basicc .right .bassi ul li:nth-child(3) {
  text-decoration: line-through;
}
.basic .basicc .right .bassi ul li:nth-child(4) {
  text-decoration: line-through;
}
.basic .basicc .right .bassi ul li:nth-child(5) {
  text-decoration: line-through;
}
.basic .basicc .right .bassi p:last-child {
  padding: 15px 20px;
  background-color: #184e4a;
  border-radius: 30px;
}
.basic .basicc .right .bassi p:last-child:hover {
  background-color: black;
}
@media (max-width: 920px) {
  .basic .basicc .right .bassi {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .basic .basicc {
    justify-content: flex-start;
  }
}
@media (max-width: 900px) {
  .basic .basicc {
    justify-content: center;
  }
}/*# sourceMappingURL=dogger.css.map */